.rb-story-explorer-wrapper {
  h1 {
    text-align: center;
  }
  .rb-story-list {
    ul {
      list-style: none;
      li {
        margin-bottom: 1em;
        line-height: 1.4;
      }
    }
  }
}
